---
import type {
  GetStaticPathsItem,
  InferGetStaticParamsType,
  InferGetStaticPropsType,
} from "astro";
import { Image } from "astro:assets";
import {
  MDXWrapper,
  getMdxComponents,
} from "../../../../components/client/MDX/MDX";
import Banner from "../../../../components/server/Banner/Banner.astro";
import { DLAstro } from "../../../../domains/dl/DLAstro";
import { getTheme } from "../../../../domains/utils/getTheme";
import Layout from "../../../../layouts/Layout.astro";
import { Page } from "./_page";

export type Params = InferGetStaticParamsType<typeof getStaticPaths>;
export type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const props = Astro.props as Props;
const params = Astro.params as Params;

const { creator } = await DLAstro.getCreator({ slug: props.creatorSlug });
const { game } = await DLAstro.getGame({ slug: props.gameSlug });
const { assets } = await DLAstro.getAssetsForGame({ slug: props.gameSlug });

const { Content } = await game.render();

const theme = getTheme({
  theme: {
    accentColor: game.data.theme?.accentColor,
  },
});

export async function getStaticPaths() {
  const { games } = await DLAstro.getAllGamesWithCreator({});
  return games.map((item) => {
    return {
      params: {
        creatorSlug: item.creator.slug,
        gameSlug: item.game.slug.split("/").pop(),
      },
      props: {
        creatorSlug: item.creator.slug,
        gameSlug: item.game.slug,
      },
    } satisfies GetStaticPathsItem;
  });
}
---

<Layout
  ogImage
  theme={theme}
  title={[game.data.name, creator.data.name]}
  description={game.data.description}
  headingFont={game.data.theme?.headingFont}
  bodyFont={game.data.theme?.bodyFont}
>
  {game.data.image && <Banner src={game.data.image} alt={game.data.name} />}
  <Page client:load theme={theme} game={game} creator={creator} assets={assets}>
    <div slot="gameCover">
      {
        game.data.image && (
          <Image
            class={"rounded-lg"}
            src={game.data.image}
            alt={game.data.name}
            width={1200}
          />
        )
      }
    </div>
    <MDXWrapper>
      <Content
        components={{
          ...getMdxComponents({}),
        }}
      />
    </MDXWrapper>
  </Page>
</Layout>
