---
import { AspectRatio, Button, Flex, Heading } from "@radix-ui/themes";
import type {
  GetStaticPathsItem,
  InferGetStaticParamsType,
  InferGetStaticPropsType,
} from "astro";
import { Image } from "astro:assets";
import { getCollection, getEntry } from "astro:content";
import { MDX, getMdxComponents } from "../../../../components/MDX";
import Layout from "../../../../layouts/Layout.astro";

type Params = InferGetStaticParamsType<typeof getStaticPaths>;
type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const props = Astro.props as Props;
const params = Astro.params as Params;

const { Content } = await props.game.render();

export async function getStaticPaths() {
  const games = await getCollection("games");
  return Promise.all(
    games.map(async function (game) {
      const creator = await getEntry(game.data.creator);
      return {
        params: {
          creatorSlug: game.data.creator.slug,
          gameSlug: game.slug.split("/").pop(),
        },
        props: {
          game: game,
          creator: creator,
        },
      } satisfies GetStaticPathsItem;
    })
  );
}
---

<Layout title="Welcome to Astro.">
  <Flex direction="column" gap="5">
    <AspectRatio ratio={4 / 1}>
      <Image
        src={props.game.data.image}
        alt={props.game.data.name}
        style={{
          objectFit: "cover",
          width: "100%",
          height: "100%",
        }}
        inferSize
      />
    </AspectRatio>
    <Heading size="9">{props.game.data.name}</Heading>
    <Heading size="6" color="gray">By {props.creator.data.name}</Heading>
    <a href=`/create-game?slug=${props.game.slug}`>
      <Button size="4" className="!cursor-pointer"> Start a new game </Button>
    </a>
    <MDX>
      <Content
        components={{
          ...getMdxComponents(),
        }}
      />
    </MDX>
  </Flex>
</Layout>
