---
import {
  Box,
  Button,
  Container,
  Flex,
  Grid,
  Heading,
  Text,
} from "@radix-ui/themes";
import { Image } from "astro:assets";
import { ArrowBigDown } from "lucide-react";
import { Card } from "../components/client/Card/Card";
import { MDXH2 } from "../components/client/MDX/MDX";
import { AppUrl } from "../domains/app-url/AppUrl";
import { Colors, type ColorType } from "../domains/colors/colors";
import { DLAstro } from "../domains/dl/DLAstro";
import { getRandomElement } from "../domains/utils/random";
import Layout from "../layouts/Layout.astro";

const { games } = await DLAstro.getAllGamesWithCreator({});
const { resources } = await DLAstro.getAllResourcesWithCreator({});
---

<Layout ogImage title={undefined} description={undefined} withBanner>
  <Container size="1" maxWidth={"768px"}>
    <Flex
      align="center"
      justify="center"
      gap="4"
      direction={"column"}
      className="md:mb-[10vh] md:mt-[10vh]"
    >
      <Heading
        as="h1"
        size={{
          initial: "8",
          md: "9",
        }}
        align={"center"}
        className="font-bold leading-[normal]"
      >
        The best way to play<br /> your favorite TTRPGs
      </Heading>

      <Text
        color="gray"
        size={{
          initial: "3",
          md: "4",
        }}
        mb="5"
        align={"center"}
      >
        Hundreds of games you can play right here in your browser. <br /> Accessible,
        fast, and free.
      </Text>
      <a href="#get-started">
        <Button size="3" radius="full"> Get Started <ArrowBigDown /></Button>
      </a>
    </Flex>
  </Container>

  <Box pt="4" id="get-started">
    <MDXH2> Games </MDXH2>
  </Box>
  <Grid
    columns={{
      sm: "2",
      lg: "3",
    }}
    gap="6"
    width="auto"
  >
    {
      games.map((item) => {
        return (
          <Card
            client:idle
            href={AppUrl.game({
              slug: item.game.slug,
            })}
            title={item.game.data.name}
            subtitle={item.creator.data.name}
            accentColor={
              item.game.data.image === undefined
                ? getRandomElement<ColorType>(
                    Colors.getAccentColors() as any,
                    item.game.data.name
                  )
                : undefined
            }
          >
            {item.game.data.image ? (
              <Image
                loading={"eager"}
                quality={"low"}
                src={item.game.data.image}
                alt={item.game.data.name}
                style={{
                  position: "absolute",
                  objectFit: "cover",
                  objectPosition: "left",
                  width: "100%",
                  height: "100%",
                }}
              />
            ) : null}
          </Card>
        );
      })
    }
  </Grid>
  <Box pt="4" id="get-started">
    <MDXH2> Resources </MDXH2>
  </Box>
  <Grid
    columns={{
      sm: "2",
      lg: "3",
    }}
    gap="6"
    width="auto"
  >
    {
      resources.map((item) => {
        return (
          <Card
            client:idle
            href={AppUrl.resource({
              slug: item.resource.slug,
            })}
            title={item.resource.data.name}
            subtitle={item.creator.data.name}
            accentColor={
              item.resource.data.image === undefined
                ? getRandomElement<ColorType>(
                    Colors.getAccentColors() as any,
                    item.resource.data.name
                  )
                : undefined
            }
          >
            {item.resource.data.image ? (
              <Image
                loading={"eager"}
                quality={"low"}
                src={item.resource.data.image}
                alt={item.resource.data.name}
                style={{
                  position: "absolute",
                  objectFit: "cover",
                  objectPosition: "left",
                  width: "100%",
                  height: "100%",
                }}
              />
            ) : null}
          </Card>
        );
      })
    }
  </Grid>
</Layout>
