---
import { AspectRatio, Card, Flex, Grid, Heading, Text } from "@radix-ui/themes";
import { Image } from "astro:assets";
import { getCollection, getEntry } from "astro:content";
import Layout from "../layouts/Layout.astro";

const games = await getCollection("games");

const gamesWithCreators = await Promise.all(
  games.map(async (game) => {
    const creator = await getEntry(game.data.creator);
    return {
      ...game,
      creator,
    };
  })
);
---

<Layout title="Welcome to Astro.">
  <Flex direction="column" gap="6">
    <Heading size="9">Keeper</Heading>
    <Grid columns="3" gap="6" width="auto">
      {
        [
          ...gamesWithCreators,
          ...gamesWithCreators,
          ...gamesWithCreators,
          ...gamesWithCreators,
          ...gamesWithCreators,
        ].map((game) => {
          return (
            <Card className="hover:bg-[--accent-4]">
              <a href={`/library/${game.slug}`}>
                <Flex gap="2" align="start" direction={"column"}>
                  <AspectRatio ratio={4 / 3}>
                    <Image
                      src={game.data.image}
                      alt={game.data.name}
                      style={{
                        objectFit: "cover",
                        width: "100%",
                        height: "100%",
                      }}
                      inferSize
                    />
                  </AspectRatio>
                  <Text as="div" size="6" weight="bold">
                    {game.data.name}
                  </Text>
                  <Text as="div" size="5" color="gray">
                    by {game.creator.data.name}
                  </Text>
                </Flex>
              </a>
            </Card>
          );
        })
      }
    </Grid>
  </Flex>
</Layout>
