---
import {
  Box,
  Button,
  Container,
  Flex,
  Grid,
  Heading,
  Text,
} from "@radix-ui/themes";
import { Image } from "astro:assets";
import { ArrowBigDown } from "lucide-react";
import { Card } from "../components/client/Card/Card";
import { MDXH2 } from "../components/client/MDX/MDX";
import { DLAstro } from "../domains/dl/DLAstro";
import Layout from "../layouts/Layout.astro";

const gamesWithCreators = await DLAstro.getAllGamesWithCreators();
---

<Layout title="Keeper" withBanner>
  <Container size="1" maxWidth={"768px"}>
    <Flex
      align="center"
      justify="center"
      gap="4"
      direction={"column"}
      className="md:mb-[10vh] md:mt-[10vh]"
    >
      <Heading
        as="h1"
        size={{
          initial: "8",
          md: "9",
        }}
        align={"center"}
        className="font-bold leading-[normal]"
      >
        The best way to play<br /> your favorite TTRPGs
      </Heading>

      <Text
        color="gray"
        size={{
          initial: "3",
          md: "4",
        }}
        mb="5"
        align={"center"}
      >
        Hundreds of games you can play right here in your browser. <br /> Accessible,
        fast, and free.
      </Text>
      <a href="#get-started">
        <Button size="3" radius="full"> Get Started <ArrowBigDown /></Button>
      </a>
    </Flex>
  </Container>

  <Box pt="4" id="get-started">
    <MDXH2> Games </MDXH2>
  </Box>
  <Grid
    columns={{
      sm: "2",
      lg: "3",
    }}
    gap="6"
    width="auto"
  >
    {
      gamesWithCreators.map((item) => {
        return (
          <Card
            client:visible
            href={`/library/${item.game.slug}`}
            title={item.game.data.name}
            subtitle={item.creator.data.name}
            addColoredBackground={item.game.data.image === undefined}
          >
            {item.game.data.image ? (
              <Image
                loading={"eager"}
                quality={"low"}
                src={item.game.data.image}
                alt={item.game.data.name}
                style={{
                  objectFit: "cover",
                  objectPosition: "left",
                  width: "100%",
                  height: "100%",
                }}
              />
            ) : null}
          </Card>
        );
      })
    }
  </Grid>
</Layout>
