---
import { Container, Flex, Heading, Theme } from "@radix-ui/themes";
import "@radix-ui/themes/styles.css";
import SpeedInsights from "@vercel/speed-insights/astro";
import { ViewTransitions, fade } from "astro:transitions";

import Banner from "../components/server/Banner/Banner.astro";
import Header from "../components/server/Header/Header.astro";
import { getTheme, type ThemeType } from "../domains/utils/getTheme";

import { getEntry } from "astro:content";
import { Graphic } from "../components/client/Graphic/Graphic";
import Footer from "../components/server/Footer/Footer.astro";
import "./index.css";

type Props = {
  title?: string;
  description?: string;
  h1?: string;
  headingFont?: string;
  bodyFont?: string;
  withBanner?: boolean;
  theme?: ThemeType;
};

const props = Astro.props;

const headingFont = props.headingFont;
const bodyFont = props.bodyFont;

const songsAndSagas = await getEntry("games", "fari-rpgs/songs-and-sagas");

// family = ,
const fontsAsString = [headingFont, bodyFont]
  .filter((font) => font !== undefined)
  .map((font) => `family=${font!.trim()}`)
  .join("&");

const themeProps = getTheme({
  theme: props.theme,
});

const googleFontUrl =
  fontsAsString &&
  encodeURI(`https://fonts.googleapis.com/css2?${fontsAsString}&display=swap`);
---

<!doctype html>
<html
  lang="en"
  transition:animate={fade({ duration: ".150s" })}
  class="mb-[10rem]"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    {googleFontUrl && <link href={googleFontUrl} rel="stylesheet" />}
    <meta name="generator" content={Astro.generator} />
    <title>{props.title}</title>
    <ViewTransitions />
  </head>
  <Theme {...themeProps}>
    <body>
      <Container
        px={{
          initial: "4",
          sm: "6",
          lg: "9",
        }}
        maxWidth={"1204px"}
      >
        <Graphic />
        <Header />
        {
          props.withBanner && (
            <Banner
              src={songsAndSagas.data.image!}
              alt={"Background"}
              alt="Keeper"
              justBackground
            />
          )
        }
        <main>
          <Flex direction="column" gap="5">
            {props.h1 && <Heading size="9">{props.h1}</Heading>}
            <slot />
          </Flex>
        </main>
        <Footer />
      </Container>
    </body>
    <SpeedInsights />
  </Theme>

  <style is:global>
    body {
      position: relative;
    }
  </style>
  <style
    is:global
    define:vars={{
      headingFont,
    }}
  >
    .radix-themes {
      --heading-font-family: var(
        --headingFont
      ); /* Your custom font for <Heading> components */
    }
  </style>
  <style
    is:global
    define:vars={{
      bodyFont,
    }}
  >
    .radix-themes {
      --default-font-family: var(--bodyFont); /* Your custom default font */

      --code-font-family: var(
        --bodyFont
      ); /* Your custom font for <Code> components */
      --strong-font-family: var(
        --bodyFont
      ); /* Your custom font for <Strong> components */
      --em-font-family: var(
        --bodyFont
      ); /* Your custom font for <Em> components */
      --quote-font-family: var(
        --bodyFont
      ); /* Your custom font for <Quote> components */
    }
  </style>
</html>
